<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!--
    | For more configuration information and examples see the Jakarta Log4j
    | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <root>
        <priority value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="JSON_REDIS"/>
    </root>

    <!-- Variables must be set as JVM properties (via -D on cli) -->
    <appender name="JSON_REDIS" class="com.ryantenney.log4j.FailoverRedisAppender">
        <param name="endpoints" value="${redis_servers}"/>
        <param name="key" value="${redis_key}"/>
        <param name="alwaysBatch" value="false"/>
        <param name="batchSize" value="10"/>
        <param name="Threshold" value="DEBUG"/>
        <layout class="net.logstash.log4j.JSONEventLayout">
            <param name="userfields"
                   value="application:${application},role:${application}-app,environment:${environment}"/>
            <param name="hostname" value="${logstash_source_host}"/>
        </layout>
    </appender>

</log4j:configuration>